.container {
    margin-bottom: 2rem;
    border: 1px solid $light-gray-border;
    border-radius: 5px;
    background-color: $light-gray-override;
}
.container__header {
    padding: 1rem;
    border-bottom: 1px solid $light-gray-border;

    label {
        font-size: 1rem;
        cursor: pointer;
    }

    > :last-child {
        display: flex;

        align-items: center;
    }
}
.container__message {
    margin: 2rem auto;
    color: $light-color;
    text-align: center;
}
.container__footer {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid $light-gray-border;
}