ol {
    margin-left: 0;
}
.todo {
    cursor: pointer;
    list-style-type: none;
    padding: 1rem;
    transition: background-color .3s;
    &:hover {
        background-color: #f0f0f0
    }
    label {
        align-items: center;
        display: flex;
        p {
            margin: 0;
        }
        input {
            margin: 0
        }
        > :first-child {
            margin-right: 1rem;
        }
    }
}

.todo__subtext {
    color: #999;
}

.todo-completed {
    p, .todo__subtext {
        color: $light-color;
        text-decoration: line-through;
    }
}